<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="address=no; email=no">
<meta name="wap-font-scale" content="no">
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script type="text/javascript" src="http://www.zenwater.cn/upload/static/js/jquery.js"></script>
<title>微信APIDemo</title>
<script type="text/javascript">
	function onBridgeReady(){
	   WeixinJSBridge.invoke(
	       'getBrandWCPayRequest', 
	       H5PayResponse,
	       function(res){  
	    	   // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
	           console.log("微信支付结果: " + res.err_msg);
	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	        	   alert("支付成功");
	           } else if(res.err_msg == "get_brand_wcpay_request:cancel") {
	        	   alert("支付过程中用户取消");
	           } else if(res.err_msg == "get_brand_wcpay_request:fail") {
	        	   alert("支付失败1");
	           } else {
	        	   alert("支付失败2");
	           }
	       }
	   ); 
	}
	var H5PayResponse = "{}";
	function goWeChatPay(){
		jQuery.ajax({
			url: "http://localhost/parrot-demo-client/demo/pay/unified/1",
			type: "post",
			dataType: "json",
			async: false,
			success: function(data){
				if(data.status) {
					H5PayResponse = eval('(' + data.result+ ')');
					console.debug("H5PayResponse = " + H5PayResponse);
					if (typeof WeixinJSBridge == "undefined"){
						if( document.addEventListener ){
							document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
						}else if (document.attachEvent){
						    document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
						    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
						}
					}else{
					   onBridgeReady();
					}
				} else {
					alert(data.result);
				}
			},
			error:function(){
				alert("通信异常");
			}
		});
	}
</script>
</head>
<body>
	$statu<br>
	<input type="button" onclick="goWeChatPay()" value="测试支付" />
</body>
</html>