<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:motan="http://api.weibo.com/schema/motan" 
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd" >

	<!-- 注册中心配置 使用不同注册中心需要依赖对应的jar包。-->
    <!-- <motan:registry regProtocol="zookeeper" name="registry" address="127.0.0.1:2181" connectTimeout="2000"/> -->
    <!-- <motan:registry regProtocol="direct" name="registry" address="127.0.0.1:8002"/> -->
    <!-- motan协议配置 -->
    <!-- <motan:protocol default="true" name="motan" haStrategy="failover"
		loadbalance="activeWeight" maxClientConnection="10" minClientConnection="2"/> -->

    <!-- 通用referer基础配置 -->
   	<!-- <motan:basicReferer id="parrotClientBasicConfig" requestTimeout="30000" accessLog="false"
                        retries="2" group="parrot-rpc" module="parrot-rpc"
                        application="parrot" protocol="motan" registry="registry"
                        throwException="true" check="true"/> -->

    <!-- 具体referer配置。使用方通过beanid使用服务接口类 -->
	<!-- <motan:referer id="weChatPayOrderBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatPayOrderBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatPayNotifyBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatPayNotifyBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatPayRefundBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatPayRefundBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatRedPackBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatRedPackBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatTemplateBean" interface="com.lb.parrot.apiproxy.template.api.WeChatTemplateBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatUserBean" interface="com.lb.parrot.apiproxy.user.api.WeChatUserBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatQrCodeBean" interface="com.lb.parrot.apiproxy.account.api.WeChatQrCodeBean" basicReferer="parrotClientBasicConfig" />
	<motan:referer id="weChatAccessTokenBean" interface="com.lb.parrot.apiproxy.support.api.WeChatAccessTokenBean" basicReferer="parrotClientBasicConfig" />
	 -->

	<motan:referer id="weChatPayOrderBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatPayOrderBean" directUrl="${motan.url.com.lb.parrot.apiproxy.pay.api.WeChatPayOrderBean}" requestTimeout="3000"/>
	<motan:referer id="weChatPayNotifyBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatPayNotifyBean" directUrl="${motan.url.com.lb.parrot.apiproxy.pay.api.WeChatPayNotifyBean}" requestTimeout="3000"/>
	<motan:referer id="weChatPayRefundBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatPayRefundBean" directUrl="${motan.url.com.lb.parrot.apiproxy.pay.api.WeChatPayRefundBean}" requestTimeout="3000"/>
	<motan:referer id="weChatRedPackBean" interface="com.lb.parrot.apiproxy.pay.api.WeChatRedPackBean" directUrl="${motan.url.com.lb.parrot.apiproxy.pay.api.WeChatRedPackBean}" requestTimeout="3000"/>
	<motan:referer id="weChatTemplateBean" interface="com.lb.parrot.apiproxy.template.api.WeChatTemplateBean" directUrl="${motan.url.com.lb.parrot.apiproxy.template.api.WeChatTemplateBean}" requestTimeout="3000"/>
	<motan:referer id="weChatUserBean" interface="com.lb.parrot.apiproxy.user.api.WeChatUserBean"  directUrl="${motan.url.com.lb.parrot.apiproxy.user.api.WeChatUserBean}" requestTimeout="3000"/>
	<motan:referer id="weChatQrCodeBean" interface="com.lb.parrot.apiproxy.account.api.WeChatQrCodeBean" directUrl="${motan.url.com.lb.parrot.apiproxy.account.api.WeChatQrCodeBean}" requestTimeout="3000"/>
	<motan:referer id="weChatAccessTokenBean" interface="com.lb.parrot.apiproxy.support.api.WeChatAccessTokenBean" directUrl="${motan.url.com.lb.parrot.apiproxy.support.api.WeChatAccessTokenBean}" requestTimeout="3000"/>
	
</beans>